version: '3.7'
services:
  moodbadger:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8000:8000
    environment:
      - DJANGO_SECRET_KEY=django-insecure-#wv&2&)ui_l-7253k+yw#&tjamc+a-n9ei0@bl5l^r&fqe4
      - DJANGO_DEBUG=False
      - DJANGO_HOST=localhost
    logging:
      driver: "json-file"
      options:
        max-size: "50m"