version: '3.7'
services:
  service:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8080:8080
    environment:
      - HTTP_SERVER_ADDR=:8080
    logging:
      driver: "json-file"
      options:
        max-size: "50m"